.holder{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows:repeat(2,1fr);
}




.item-1{
	height:100px;
	width:100px;
	background-color:red;	
}
.item-2{
	height:100px;
	width:100px;
	background-color:green;	
}
.item-3{
	height:100px;
	width:100px;
	background-color:yellow;	
}
.item-4{
	height:100px;
	width:100px;
	background-color:black;	
}


/* Your CSS Code here. */